body {
    font-family: 'Archivo', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.colorfulhd {
    color: orange;
}

section {
    display: flex;
    margin: 100px;
}

.halfwidth {
    width: 100%;
    padding-left: 5%;
}

.halfwidth img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(252, 0, 0));
    padding: 10px 40px;
}


/* Hire me button color */

.flooper-btn {
    background-color: #002878;
    background-image: linear-gradient(45deg, #33d9de 0%, #33d9de 55%, #243f81 90%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    border-radius: 50px;
    padding: 12px 48px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: all 0.5s ease;
}

.flooper-btn:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.bottom {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}